.label{
  color: #E1B878;
}

* {
  color: #DE4B43;
}

.mission{
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid gray;
  font-family: 'Krona One', sans-serif;

}

.inputBox {
  height: 70px !important;

width: 220px !important;

font-size: 14px !important;
}

.all{
  border: 3px solid grey;
  background-color: #fff;
}
.btn {
  margin-left: 50%;
  color: #494949 !important;
  text-transform: uppercase;
  background: #758086;
  padding: 20px;
  border: 4px solid #494949 !important;
  border-radius: 6px;

}

.btn:hover {
color: #ffffff !important;
background: #DE4B43;
border-color: #f6b93b !important;
transition: all 0.4s ease 0s;
}
